@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
html {
  color: #1d1d1d;
  font-size: 16px;
  font-family: "Montserrat", "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #ffffff;
}

a,
button,
input,
textarea {
  font-family: "Montserrat", "Open Sans", sans-serif;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.horoscope-menu .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0;
}
.horoscope-menu__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 16.6666666667%;
          flex: 0 1 16.6666666667%;
  padding: 11px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #ffffff;
  background-color: #FFF8F0;
  -webkit-transition: background-color ease-in-out 0.2s;
  transition: background-color ease-in-out 0.2s;
  cursor: pointer;
}
@media (max-width: 992px) {
  .horoscope-menu__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 25%;
            flex: 0 1 25%;
  }
}
@media (max-width: 576px) {
  .horoscope-menu__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.3333333333%;
            flex: 0 1 33.3333333333%;
  }
}
@media screen and (max-width: 390px) {
  .horoscope-menu__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}
.horoscope-menu__item:hover {
  background-color: #AF474E;
}
.horoscope-menu__item-image {
  margin: 0 0 7px;
  padding: 0;
  text-align: center;
}
.horoscope-menu__item-image img {
  height: 70px;
  width: 70px;
}
.horoscope-menu__item-title {
  margin: 0;
  color: #AF474E;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: color ease-in-out 0.2s;
  transition: color ease-in-out 0.2s;
}
.horoscope-menu__item:hover .horoscope-menu__item-title {
  color: #ffffff;
}
.horoscope-menu__item-date {
  margin: 0;
  color: #AF474E;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: color ease-in-out 0.2s;
  transition: color ease-in-out 0.2s;
}
.horoscope-menu__item:hover .horoscope-menu__item-date {
  color: #ffffff;
}