@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
html {
  color: #333333;
  font-size: 16px;
  font-family: "Montserrat", "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #ffffff;
}

a,
button,
input,
textarea {
  font-family: "Montserrat", "Open Sans", sans-serif;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.horoscope-materials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 5px;
  width: 100%;
  padding: 0 0 10px;
}
.horoscope-materials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  color: #333333;
  text-align: right;
  font-size: 12px;
  font-style: normal;
  font-weight: 100;
  line-height: 20px;
  text-decoration: none;
}

.common-horoscope .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px 0;
}
@media (max-width: 768px) {
  .common-horoscope .container {
    gap: 0;
  }
}
.common-horoscope__card {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  padding: 9px 15px 13px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #f1f1f1;
}
@media (max-width: 768px) {
  .common-horoscope__card {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    gap: 14px;
    border-right: none;
    border-bottom: 1px dashed #a0a0a0;
    background-color: #ffffff;
  }
}
.common-horoscope__card:nth-child(2n+1) {
  border-right: 1px dashed #a0a0a0;
}
@media (max-width: 768px) {
  .common-horoscope__card:nth-child(2n+1) {
    border-right: none;
  }
}
.common-horoscope__card-image {
  margin: 0;
  padding: 0;
}
.common-horoscope__card-image img {
  width: 86px;
  height: 86px;
  -o-object-fit: cover;
     object-fit: cover;
}
.common-horoscope__card-title {
  margin: 0 0 4px;
  color: #8c1f1f;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.common-horoscope__card-date {
  margin: 0;
  color: #8c1f1f;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.common-horoscope__card-text {
  color: #333;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
}
@media (max-width: 576px) {
  .common-horoscope__card-text {
    font-size: 12px;
  }
}

.monthly-horoscope__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  margin: 0 0 10px;
  padding: 9px 15px 13px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #f1f1f1;
}
@media (max-width: 768px) {
  .monthly-horoscope__card {
    background-color: #ffffff;
  }
}
.monthly-horoscope__card-image {
  margin: 0;
  padding: 0;
}
.monthly-horoscope__card-image img {
  width: 86px;
  height: 86px;
  -o-object-fit: cover;
     object-fit: cover;
}
.monthly-horoscope__card-title {
  margin: 0 0 4px;
  color: #8c1f1f;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.monthly-horoscope__card-date {
  margin: 0;
  color: #8c1f1f;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.monthly-horoscope__card-text {
  color: #333;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
}
@media (max-width: 576px) {
  .monthly-horoscope__card-text {
    font-size: 12px;
  }
}

.horoscope-menu .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0;
}
.horoscope-menu__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 16.6666666667%;
          flex: 0 1 16.6666666667%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #ffffff;
  background-color: #FFF8F0;
  -webkit-transition: background-color ease-in-out 0.2s;
  transition: background-color ease-in-out 0.2s;
  cursor: pointer;
}
@media (max-width: 992px) {
  .horoscope-menu__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 25%;
            flex: 0 1 25%;
  }
}
@media (max-width: 576px) {
  .horoscope-menu__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.3333333333%;
            flex: 0 1 33.3333333333%;
  }
}
@media screen and (max-width: 390px) {
  .horoscope-menu__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}
.horoscope-menu__item:hover {
  background-color: #AF474E;
}
.horoscope-menu__item.active {
  background-color: #AF474E;
}
.horoscope-menu__item-link {
  display: block;
  padding: 11px;
  text-decoration: none;
}
.horoscope-menu__item-image {
  margin: 0 0 7px;
  padding: 0;
  text-align: center;
}
.horoscope-menu__item-image img {
  height: 70px;
  width: 70px;
}
.horoscope-menu__item-title {
  margin: 0;
  color: #AF474E;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: color ease-in-out 0.2s;
  transition: color ease-in-out 0.2s;
}
.horoscope-menu__item:hover .horoscope-menu__item-title {
  color: #ffffff;
}
.horoscope-menu__item.active .horoscope-menu__item-title {
  color: #ffffff;
}
.horoscope-menu__item-date {
  margin: 0;
  color: #AF474E;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: color ease-in-out 0.2s;
  transition: color ease-in-out 0.2s;
}
.horoscope-menu__item:hover .horoscope-menu__item-date {
  color: #ffffff;
}
.horoscope-menu__item.active .horoscope-menu__item-date {
  color: #ffffff;
}

.horoscope-nav .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2px;
  margin-bottom: 12px;
}
.horoscope-nav__item {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #333333;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  background-color: #f1f1f1;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  cursor: pointer;
}
.horoscope-nav__item:hover {
  color: #ffffff;
  background-color: #8c1f1f;
}
.horoscope-nav__item.active {
  color: #ffffff;
  background-color: #8c1f1f;
}
.horoscope-nav__item.active::after {
  content: "";
  position: absolute;
  top: calc(100% - 6px);
  left: 50%;
  display: block;
  height: 15px;
  width: 38px;
  background: url(../assets/poligon-active.svg) center bottom no-repeat;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
@media (max-width: 576px) {
  .horoscope-nav__item.active::after {
    height: 10px;
    width: 24px;
  }
}
.horoscope-nav__item a {
  display: inline-block;
  width: 100%;
  padding: 16px;
  color: #333333;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  text-decoration: none;
}
@media (max-width: 768px) {
  .horoscope-nav__item a {
    padding: 5px 10px;
  }
}
.horoscope-nav__item:hover a {
  color: #ffffff;
}
.horoscope-nav__item.active a {
  color: #ffffff;
}
@media (max-width: 576px) {
  .horoscope-nav__item-text {
    display: block;
    width: 100%;
    max-width: calc(100% - 1px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
@media screen and (max-width: 380px) {
  .horoscope-nav__item-text {
    max-width: 66px;
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  .horoscope-nav__item-text_hidden {
    display: none;
  }
}